<div class="easyfood-container">
  <div class="current-offers">
  </div>
  <div class="meals-categories">
    <h2>Catégories</h2>
      <% @categories.each do |category| %>
        <%= category.name.capitalize %>
      <% end %>
  </div>
  <div class="meals-cards">
    <% @meals.each do |meal| %>
      <%= meal.image_url %>
      <%= meal.name.capitalize %>
      <%= meal.description%>
      <%= meal.price%>

      <% simple_form_for [@order, @meal, @order_item] do %>
        <%= f.input %>
      <% end %>
    <% end %>
  </div>
</div>
